---
const { item } = Astro.props;

interface Props {
    item: {
        TITLE: string;
        DESCRIPTION: string;
    };
}
---

<section
    id="ecosistema-smart"
    class="flex flex-col justify-center items-center gap-8 mx-auto px-4 w-full h-screen"
>
    <div class="flex lg:flex-row flex-col justify-center items-center gap-8 mx-auto w-full max-w-4xl h-full">
        <div class="flex justify-center lg:justify-start items-center w-full lg:w-1/2 h-1/3 lg:h-full">
            <h3 class="text-white text-4xl text-center" set:html={item.TITLE}>
            </h3>
        </div>
        <div class="flex justify-start items-center w-full lg:w-1/2 h-1/3 lg:h-full">
            <p class="text-white text-lg text-center lg:text-left" set:html={item.DESCRIPTION}></p>
        </div>
    </div>
</section>

<style>
    h3 :global(strong) {
        color: var(--color-title);
    }
</style>
